{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.browser.json"
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    // General ESlint rules
    "no-console": "warn",
    "no-undefined-vars": "warn",

    // React-specific rules
    "react/destructuring-assignment": ["warn", "always"],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/hook-use-state": ["warn", { "allowDestructuredState": true }],
    "react/iframe-missing-sandbox": "warn",
    "react/jsx-handler-names": [
      "warn",
      {
        "eventHandlerPrefix": "handle",
        "eventHandlerPropPrefix": "on"
      }
    ],
    "react/jsx-no-constructed-context-values": "error",
    "react/jsx-no-leaked-render": [
      "error",
      { "validStrategies": ["ternary", "coerce"] }
    ],
    "react/jsx-props-no-spreading": [
      "error",
      {
        "html": "ignore",
        "custom": "enforce",
        "exceptions": []
      }
    ],
    "react/no-array-index-key": "error",

    // React Hooks rules
    "react-hooks/rules-of-hooks": "error",

    // JSX accessibility rules
    "jsx-a11y/click-events-have-key-events": "warn",

    // Typescript rules
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/mo-explicit-any": "off",

    // Import rules
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          ["parent", "siblings", "index"]
        ],
        "newlines-between": "always"
      }
    ]
  }
}
