{
  "extends": "stylelint-config-standard-scss",
  "plugins": [
    "stylelint-scss",
    "stylelint-order",
    "stylelint-declaration-block-no-ignored-properties"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "order/order": [
      "dollar-variables",
      "custom-properties",
      "declarations",
      "rules",
      "at-rules"
    ],
    "order/properties-alphabetical-order": true,
    "plugin/declaration-block-no-ignored-properties": true,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global", "local"]
      }
    ],
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": ["/^_/"]
      }
    ],
    "max-nesting-depth": 3,
    "color-hex-length": "short",
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-newline-after": "always-multi-line",
    "declaration-empty-line-before": "never",
    "indentation": 2,
    "string-quotes": "double",
    "no-duplicate-selectors": true,
    "no-extra-semicolons": true,
    "no-missing-end-of-source-newline": true
  }
}
